{% extends 'base.html' %}

{% block src %}
    {% load static %}
    <script>

        function ajaxing(jsonData) {
            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']
                    session_id = res['session_id']
                    ins_id = res['ins_id']
                    
                    if (res['chatflow_id'] == 'FLOW1653963618000') {
                        for (let i in res['result']) {
                            $("#chatbox").append(`<div><h1>${res['result'][i]['message']}</h1></div>`)
                        }
                        $("#chatbox").append(`<div><select class='select_genre' onchange='genre_ajax($(this).val())'></select></div>`)
                        for (let i in res['result'][1]['optionList']) {
                            $(".select_genre").append(`<option>${res['result'][1]['optionList'][i]['label']}</option>`)
                        }
                    }
                }
            })
        }

        function genre_ajax(genre_val) {
            jsonData = {
                "user_id": "s97741875@gamil.com",
                "input_sentence": `${genre_val}`,
                "ins_id": ins_id,
                "intent_id": "2fb157ca-7d1a-4751-894b-96d2eacf3bd7",
                "node_id": "SlotNode_1654326104100",
                "param_id": "장르",
                "chatflow_id": "FLOW1653963618000",
                "postBackFlag": true,
                "session_id": session_id
            }

            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']
                    ins_id = res['ins_id']

                    for (let i in res['result']) {
                        $("#chatbox").append(`<div><h1>${res['result'][i]['message']}</h1></div>`)
                    }
                    $("#chatbox").append(`<div><select class='select_genre_two' onchange='genre_ajax_two($(this).val())'></select></div>`)
                    for (let i in res['result'][0]['optionList']) {
                        $(".select_genre_two").append(`<option>${res['result'][0]['optionList'][i]['label']}</option>`)
                        
                    }
                }
            })
        }

        function genre_ajax_two(genre_val) {
            jsonData = {
                "user_id": "s97741875@gamil.com",
                "input_sentence": `${genre_val}`,
                "ins_id": ins_id,
                "intent_id": "2fb157ca-7d1a-4751-894b-96d2eacf3bd7",
                "node_id": "SlotNode_1654326218844",
                "param_id": "지역",
                "chatflow_id": "FLOW1653963618000",
                "postBackFlag": true,
                "session_id": session_id
            }

            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']

                    console.log(res)
                    
                    carousel = ''
                    carousel_indicators = ''
                    for (let i in res['result'][0]['carouselList']) {
                        if (i == 0) {
                            carousel += `<div class="carousel-item active"><img src="${res['result'][0]['carouselList'][i]['imgRoute']}" class="d-block w-100" alt="맛집ㅎㅎ"><a href='${res['result'][0]['carouselList'][i]['optionList'][0]['value']}'><h1>${res['result'][0]['carouselList'][i]['optionList'][0]['label']}</h1></a><a href='${res['result'][0]['carouselList'][i]['optionList'][1]['value']}'><h1>${res['result'][0]['carouselList'][i]['optionList'][1]['label']}</h1></a></div>`
                            carousel_indicators += `<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${i}" class="active" aria-current="true" aria-label="Slide ${i + 1}"></button>`
                        } else {
                            carousel += `<div class="carousel-item"><img src="${res['result'][0]['carouselList'][i]['imgRoute']}" class="d-block w-100" alt="맛집ㅎㅎ"><a href='${res['result'][0]['carouselList'][i]['optionList'][0]['value']}'><h1>${res['result'][0]['carouselList'][i]['optionList'][0]['label']}</h1></a><a href='${res['result'][0]['carouselList'][i]['optionList'][1]['value']}'><h1>${res['result'][0]['carouselList'][i]['optionList'][1]['label']}</h1></a></div>`
                            carousel_indicators += `<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${i}" aria-label="Slide ${i + 1}"></button>`
                            
                        }
                    }

                    $("#chatbox").append(`
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                ${carousel_indicators}
                            </div>
                            <div class="carousel-inner">
                                ${carousel}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    `)
                    
                    $("#chatbox").append(`<div><h1>${res['result'][1]['message']}</h1></div>`)
                }
            })
        }

        $(function() {
            $('input').keyup(function(e) {
                if (e.keyCode == 13) {
                    ajaxing({
                        "user_id": "s97741875@gamil.com",
                        "input_sentence": `${$(this).val()}`
                    })
                }
            })
        })
    </script>
    <style>
        
    </style>
{% endblock %}

{% block contents %}
    <body>
        <div id='chatbox'></div>
        <input id='en_event'>
    
    </input>
    </body>
{% endblock %}