{% extends 'base.html' %}

{% block src %}
    {% load static %}
    <script>
        $(function() {
            $('input').keyup(function(e) {
                if (e.keyCode == 13) {
                    ajaxing({
                        "user_id": "s97741875@gamil.com",
                        "input_sentence": `${$(this).val()}`
                    })
                }
            })
        })

        function ajaxing(jsonData) {
            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']
                    session_id = res['session_id']
                    ins_id = res['ins_id']

                    console.log(response)
                    
                    if (res['chatflow_id'] == 'FLOW1653963618000') {
                        for (let i in res['result']) {
                            $("#chatbox").append(`<div><h1>${res['result'][i]['message']}</h1></div>`)
                        }
                        $("#chatbox").append(`<div><select class='select_genre' onchange='genre_ajax($(this).val())'></select></div>`)
                        for (let i in res['result'][1]['optionList']) {
                            $(".select_genre").append(`<option>${res['result'][1]['optionList'][i]['label']}</option>`)
                        }
                    }
                }
            })
        }

        function genre_ajax(genre_val) {
            jsonData = {
                "user_id": "s97741875@gamil.com",
                "input_sentence": `${genre_val}`,
                "ins_id": ins_id,
                "intent_id": "2fb157ca-7d1a-4751-894b-96d2eacf3bd7",
                "node_id": "SlotNode_1654326104100",
                "param_id": "장르",
                "chatflow_id": "FLOW1653963618000",
                "postBackFlag": true,
                "session_id": session_id
            }

            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']
                    ins_id = res['ins_id']

                    for (let i in res['result']) {
                        $("#chatbox").append(`<div><h1>${res['result'][i]['message']}</h1></div>`)
                    }
                    $("#chatbox").append(`<div><select class='select_genre_two' onchange='genre_ajax_two($(this).val())'></select></div>`)
                    for (let i in res['result'][0]['optionList']) {
                        $(".select_genre_two").append(`<option>${res['result'][0]['optionList'][i]['label']}</option>`)
                        
                    }
                }
            })
        }

        function genre_ajax_two(genre_val) {
            jsonData = {
                "user_id": "s97741875@gamil.com",
                "input_sentence": `${genre_val}`,
                "ins_id": ins_id,
                "intent_id": "2fb157ca-7d1a-4751-894b-96d2eacf3bd7",
                "node_id": "SlotNode_1654326218844",
                "param_id": "지역",
                "chatflow_id": "FLOW1653963618000",
                "postBackFlag": true,
                "session_id": session_id
            }

            $.ajax({
                url: 'https://danbee.ai/chatflow/chatbot/v2.0/3904a8c1-fdcd-4328-89ac-da6d1dad1cd7/message.do',
                type: "POST",
                data: JSON.stringify(jsonData),
                dataType: "JSON",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,

                success: function(response){
                    res = response['responseSet']['result']
                    table = '<table class="table table-dark text-center" style="vertical-align: middle;">'
                    table += '<thead><tr><th>매장사진<th><th>매장정보</th></tr></thead><tbody>'
                    for (let i in res['result'][0]['carouselList']) {
                        table += '<tr>'
                        table += `<td rowspan='4'><img src="${res['result'][0]['carouselList'][i]['imgRoute']}" alt="맛집ㅎㅎ"></td>`
                        table += '<td><i class="fa-solid fa-utensils"></i></td>'
                        table += `<td>${res['result'][0]['carouselList'][i]['cardTitle']}</td>`
                        table += '</tr>'
                        table += `<tr><td><i class="fa-solid fa-house-chimney"></i></td><td>${res['result'][0]['carouselList'][i]['subCardTitle']}</td></tr>`
                        table += `<tr><td><i class="fa-solid fa-phone"></i></td><td><a href='tel:${res['result'][0]['carouselList'][i]['optionList'][0]['value']}'>${res['result'][0]['carouselList'][i]['optionList'][0]['label']}</a></td></tr>`
                        table += `<tr><td><i class="fa-solid fa-map-location-dot"></i></td><td><a href='${res['result'][0]['carouselList'][i]['optionList'][1]['value']}'>${res['result'][0]['carouselList'][i]['optionList'][1]['label']}</a></td></tr>`
                    }
                    table += '</tbody></table>'
                    
                    $("#chatbox").append(`<div><h1>${res['result'][1]['message']}</h1></div>${table}`)
                }
            })
        }
    </script>
    <style>
        
    </style>
{% endblock %}

{% block contents %}
    <body>
        <div id='chatbox'></div>
        <input id='en_event'>
    
    </input>
    </body>
{% endblock %}