{% extends 'base.html' %}

{% block src %}

{% endblock %}

{% block contents %}
    <style>
        *{
            margin: 0px;
            padding: 0px;
            text-decoration: none;
            font-family: sans-serif;
        }
        body{
            background-image: #34495e;
        }
        
        .loginForm {
            position:absolute;
            width:300px;
            height:400px;
            padding: 30px, 20px;
            background-color:#FFFFFF;
            text-align:center;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            border-radius: 15px;
          }
          
          .loginForm h2{
            text-align: center;
            margin: 30px;
          }
          
          .idForm{
            border-bottom: 2px solid #adadad;
            margin: 30px;
            padding: 10px 10px;
          }
          
          .passForm{
            border-bottom: 2px solid #adadad;
            margin: 30px;
            padding: 10px 10px;
          }
          
          .id {
            width: 100%;
            border:none;
            outline:none;
            color: #636e72;
            font-size:16px;
            height:25px;
            background: none;
          }
          
          .pw {
            width: 100%;
            border:none;
            outline:none;
            color: #636e72;
            font-size:16px;
            height:25px;
            background: none;
          }
          
          .btn1 {
            position:relative;
            left:40%;
            transform: translateX(-50%);
            margin-bottom: 10px;
            width:80%;
            height:40px;
            background: linear-gradient(125deg,#5a5a5a96,#3b4050,#838383);
            background-position: left;
            background-size: 200%;
            color:white;
            font-weight: bold;
            border:none;
            cursor:pointer;
            transition: 0.4s;
            display:inline;
          }
          .btn2{
            position:relative;
            left:40%;
            transform: translateX(-50%);
            margin-bottom: 10px;
            width:80%;
            height:40px;
            background: linear-gradient(125deg,#e6e4e496,#a3a3a3,#dfdfdf);
            background-position: left;
            background-size: 200%;
            color:white;
            font-weight: bold;
            border:none;
            cursor:pointer;
            transition: 0.4s;
            display:inline;
          }
          
          .btn:hover {
            background-position: right;
            color:gray;
          }
          .btn2:hover {
            background-position: right;
            color:gray;
          }
          .bg-light{
            height:1000px;
            padding-top:55px;
            padding-bottom:75
          }
          .idsearch, .pwsearch{
            display:none;
          }
          .btn{
            margin: 20px;
          }
    </style>
    <body>
        <form action="index.html" method="post" class="loginForm">
            <h2>Search</h2>
            <div>
              <button type="button" class="btn btn-light" id='i' style='width:130px'>아이디 찾기</button>
              <div class='idsearch'>
                <div class='input-group input-group-sm mb-3'>
                  <span class='input-group-text' id='inputGroup-sizing-sm'>ID</span>
                  <input type="text" class='form-control'>
                </div>
                <div class='input-group input-group-sm mb-3'>
                  <span class='input-group-text' id='inputGroup-sizing-sm'>Email</span>
                  <input type="text" class='form-control'>
                </div>
                <button type="button" class="btn1" onclick="login();">
                  Search
               </button>
               <button type="button" class="btn2" onclick="location.href='{% url 'myapp:login' %}'">
                 cancel
               </button>
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-light" id='p'>비밀번호 찾기</button>
              <div class='pwsearch'>
                <div class='input-group input-group-sm mb-3'>
                  <span class='input-group-text' id='inputGroup-sizing-sm'>PW</span>
                  <input type="text" class='form-control'>
                </div>
                <div class='input-group input-group-sm mb-3'>
                  <span class='input-group-text' id='inputGroup-sizing-sm'>확인</span>
                  <input type="text" class='form-control'>
                </div> 
                <button type="button" class="btn1" onclick="login();">
                  Search
               </button>
               <button type="button" class="btn2" onclick="location.href='{% url 'myapp:login' %}'">
                 cancel
               </button>
              </div>
            </div>
        </form>
    </body>

<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('#i').click(function() {
      $('.idsearch').slideToggle();
    });
  });
  $(document).ready(function() {
    $('#p').click(function() {
      $('.pwsearch').slideToggle();
    });
  });
</script>
{% endblock %}
